body{
    font-family: "さわらび明朝", serif;;
    margin: 0 auto;
    width: 100%;
}

body *{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 40px;
    letter-spacing: 5px;
    line-height: 2;
}

h3{
    font-size: 36px;
    letter-spacing: 5px;
    line-height: 1.5;
}

h4{
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 2;
}

h5{
    font-size: 24px;
    letter-spacing: 5px;
    line-height: 2;
}

p{
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 2;
}

img{
    width: 100%;
}

.main-font{
    font-family: "Kaisei Opti", serif;
}

.font-wt{
    color: white;
}

.font-rd{
    color: #BA2636;
}

footer{
    background-color: #BA2636;
    padding-block: 40px;
}

.wrapper{
    background-image: url(【スクール課題】LPデザイン/backimg_paper.jpg);
}

.logo{
    position: absolute;
    top: 0;
    left: 2%;
    text-align: center;
}

.logo img{
    width: 80px;
    transition: all 0.8s 0.6s ease;
}

.logo h5{
    font-size: 18px;
    margin-block: 10px 5px;
    transition: all 0.8s 0.6s ease;
}

.logo-footer img{
    width: 130px;
}

.logo-footer h5{
    font-size: 22px;
    margin-block: 20px 5px !important;
}

.top{
    position: relative;
    margin-bottom: -12px;
}

.top img{
    width: 100%;
    height: 700px;
    object-fit: cover;
    filter: blur(10px);
    transition: all 1.5s ease;
}

/*縦書き*/
.vertical-top{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    line-height: 1.7;
    letter-spacing: 1em;
}

/*縦書き*/
.vertical-feature{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

/*縦書き*/
.vertical{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    height: 350px;
}

.title{
    top: 20%;
    left: 13%;
    position: absolute;
    text-shadow: 0 0 6px #ffffff;
}

.title h1{
    opacity: 0;
    line-height: 8vw;
}

.title h1:first-child{
    transition: all 1s 1s ease;
}

.title h1:nth-child(2){
    transition: all 1s 1.8s ease;
}

.title h1:nth-child(3){
    transition: all 1s 2.6s ease;
}

.text-center{
    text-align: center;
}

.text-center h3{
    margin-top: 25px;
}

.text-center h5{
    width: 90%;
    margin: 20px auto;
}


.button{
    background-color: #ffffff;
    width: fit-content;
    font-size: 28px;
    padding: 15px;
    margin-block: 20px;
    border: none;
    outline : 4px double #BA2636;
    outline-offset : -7px;
    font-weight: bold;
}

.red_box{
    background-color: #BA2636;
    padding: 60px 20px;
    position: relative;
    z-index: 1;
}

.feature_contents{
    padding-block-end: 60vh;
}

.feature{
    position: relative;
    width: 100%;
    height: 100%;
    margin-inline: 20vh;
}

.feature1_img{
    object-fit: cover;
    width: 700px;
    height: 500px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    filter: blur(10px);
    transition: all 1.3s ease-out;
}

.feature1_text{
    position: absolute;
    background-color: #FFFFFF;
    right: 0;
    top: 4rem;
    padding: 5% 90% 5% 10%;
    height: 430px;
    z-index: 1;
    box-shadow: 0px 3px 10px #c3c3c3;
}

.feature2_img{
    object-fit: cover;
    width: 700px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    filter: blur(10px);
    transition: all 1.3s ease-out;
}

.feature2_text{
    position: absolute;
    background-color: #FFFFFF;
    top: 4rem;
    left: 0;
    padding: 5% 10% 5% 92%;
    height: 430px;
    z-index: 1;
    box-shadow: 0px 3px 10px #c3c3c3;
}

.feature3_img{
    object-fit: cover;
    width: 700px;
    height: 500px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    filter: blur(10px);
    transition: all 1.3s ease-out;
}

.feature3_text{
    position: absolute;
    background-color: #FFFFFF;
    right: 0;
    top: 4rem;
    padding: 5% 90% 5% 10%;
    height: 430px;
    z-index: 1;
    box-shadow: 0px 3px 10px #c3c3c3;
}

.slide_left{
	transform: translateX(calc(-50vw - 50%));
    transition: all 0.8s ease-out;
}

.slide_right{
	transform: translateX(calc(50vw + 50%));
    transition: all 0.8s ease-out;
}

.feature_text_fadein{
    transition: all 0.6s 0.8s ease;
}

.flower1{
    width: 20%;
    position: absolute;
    right: 0;
    top: -17%;
}

.flower2{
    width: 24%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.examples{
    height: 800px;
}

.contents-name{
    display: flex;
    justify-content: center;
    padding: 0 0 60px 0;
    transition: all 1s 0.2s ease-out;
}

.contents-name img{
    width: 48px;
    height: 48px;
    padding: 20px 8px 0px 8px;
}

.wt_box>.contents-name{
    padding: 60px 0 10px 0;
}

.img-turn{
    transform: scale(-1, 1);
}

.contents{
    margin-block-start: 45vh;
}

.menu_img_contents{
    height: 220vh;
    position: relative;
}

.lineup1{
    position: absolute;
    top: 10%;
    left: 2%;
}

.lineup2{
    position: absolute;
    top: 70%;
    right: 2%;
}

.lineup3{
    position: absolute;
    top: 90%;
    left: 0;
}

.img_480{
    width: 480px;
}

.img_640{
    width: 640px;
}

.text_r{
    text-align: right;
}

.text_l{
    text-align: left;
}

.menu{
    padding-block: 60vh;
    transition: all 0.5s 0.6s ease-out;
}

.wt_box{
    background-color: #FFFFFF;
    width: 500px;
    margin-inline: auto;
    transition: all 0.8s 0.6s ease-out;
}

.fee{
    padding: 10px 110px 60px;
    transition: all 1s 0.2s ease-out;
}

.underline{
    border-bottom: 1px solid #BA2636;
    margin-block: 15px;
}

.order{
    height: 1000px;
}

.method-wrapper{
    border-bottom: 3px solid #BA2636;
    width: 85%;
    margin: 20px auto;
    transition: all 1s 0.2s ease-out;
}

.method{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.method img{
    width: 30%;
    object-fit: cover;
}

.how-to{
    width: 70%;
    padding: 20px;
}

.how-to h4{
    text-decoration:underline;
    text-decoration-color: #BA2636;
    text-underline-offset:7px;
}

.triangle-down{
    width: 50px;
    height: 50px;
    clip-path: polygon(100% 0,50% 100%,0 0%);
    background-color: #BA2636;
    margin: 0 auto;
    transition: all 1s 0.2s ease-out;
}

.flower3{
    width: 15%;
    position: absolute;
    top: -23%;
    right: 0;
    transform: scaleX(-1);
    z-index: 1;
}

.flower4{
    width: 23%;
    position: absolute;
    bottom: -12%;
    left: 0;
    transform: scaleY(-1);
    z-index: 1;
}

.voice-contents{
    width: 100%;
    position: relative;
}

.voices{
    width: 85%;
    margin-inline: auto;
    background-color: #E4D2D8;
    position: relative;
    padding-block: 60px;
    transition: all 1s 0.2s ease-out;
}

.voices > .triangle{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100px;
    clip-path: polygon(100% 0,100% 100%,0 0%);
}

.voices > .triangle-turn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100px;
    clip-path: polygon(0% 0,100% 100%,0 100%);
}

.voice{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    width: 90%;
}

.voice-img1{
    width: 330px;
    height: 200px;
    background-color: #FFFFFF;
    padding: 20px;
    transform: rotate(10deg);
    box-shadow: 3px 3px 10px rgb(150 101 117);
}

.voice-box{
    display: block;
    position: relative;
    background-color: #FFFFFF;
    height: auto;
    padding: 20px;
    border: 3px solid #BA2636;
    width: 85%;
    margin-inline: auto;
}

.voice-img2{
    position: relative;
    width: 330px;
    height: 200px;
    background-color: #FFFFFF;
    padding: 20px;
    transform: rotate(-10deg);
    box-shadow: -3px 3px 10px rgb(150 101 117);
    z-index: 1;
}

.img_sample{
    filter: blur(10px);
    transition: all 1.5s 1s ease;
}

.shop{
    padding-inline: 20px;
    transition: all 1s 0.2s ease-out;
}

.shop-about{
    border-bottom: 2px solid #BA2636;
    padding: 0 25px 25px 25px;
}

.shop-about-title{
    display: block;
    text-align: right;
    width: 40%;
}

.shop-about-contents{
    display: block;
    text-align: left;
    width: 60%;
}

.side-elements{
    display: flex;
    margin-bottom: 10px;
}

.space{
    margin-top: -38px;
}

.shop-map{
    padding-block: 25px;
}

.shop-map iframe{
    width: 550px;
    height: 600px;
    background-color: #BA2636;
    padding: 15px;
}

.shop-access{
    padding: 25px;
}

.container2{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-block-end: 40vh;
}

.container3{
    display: flex;
    flex-direction: column;
    height: 600px;
    gap: 20px;
}

.hide{
    display: none;
}


.fadein_top_anime h1,
.fadein_top_anime h5,
.fadein_top_anime img{
    opacity: 0;
    transform: translateY(20px);
}

.fadein_title_anime{
    opacity: 0;
    transform: translateY(20px);
}

.fadein_anime{
    opacity: 0;
    transform: translateY(20px);
}

/* JS */

.show{
	transform: translateX(0);
}
.fadein_top h1,
.fadein_top h5,
.fadein_top img{
    transform: translateY(0);
    opacity: 1;
}
.fadein{
    transform: translateY(0);
    opacity: 1;
}
.blur{
    filter: blur(0) !important;
}

.bc_change{
    background: #BA2636;
}
/* JS */

/* モバイル版*/
@media screen and (max-width: 960px){

    h1{
        font-size: 30px;
    }

    h2{
        font-size: 28px;
    }

    h3{
        font-size: 26px;
    }

    h4{
        font-size: 24px;
    }

    h5{
        font-size: 20px;
        letter-spacing: 1px;
    }

    p{
        font-size: 18px;
    }

    .top img{
        background-image: url(【スクール課題】LPデザイン/29689492_s.jpg);
        background-size: cover;
        width: 100%;
        height: 400px;
        position: relative;
    }

    /*縦書き*/
    .vertical-top {
        line-height: 1.2;
        letter-spacing: 0.7em;
    }

    .logo h5 {
        font-size: 12px;
        margin-block: 5px 0px;
    }

    .logo img {
        width: 54px;
    }

    .title{
        top: 21%;
        left: 15%;
    }

    .feature{
        margin-inline: 0;
        margin-block: 20vh;
    }

    .feature1_img, .feature2_img, .feature3_img{
        width: 100%;
        height: 350px;
        position: static;
        transition: all 1s ease-out;
    }

    .flower1{
        width: 24%;
        z-index: 3;
    }

    .flower2{
        width: 35%;
        bottom: -38%;
    }

    .img_480{
    width: 320px;
    }

    .img_640{
        width: 500px;
    }

    .contents{
        margin-block-start: 25vh;
    }

    .fee{
        padding: 0;
    }

    .vertical{
        -ms-writing-mode:lr-tb;
        writing-mode: horizontal-tb;
    }

    .feature1_text, .feature2_text, .feature3_text{
        position: static;
        padding: 5% 5% 5% 5%;
        height: auto;
    }

    .reverse{
        flex-direction: column-reverse;
        display: flex !important;
    }

    .contents-name {
        padding: 15px 0 20px 0;
    }

    .contents-name img {
        width: 38px;
        height: 38px;
        padding: 10px 8px 0px 8px;
    }

    .wt_box {
        width: 320px;
        padding: 40px 80px;
    }

    .method {
        display: block;
    }

    .method img {
        width: 80%;
        margin-inline: auto;
        display: block;
    }

    .how-to {
        width: 85%;
        padding: 20px;
        margin-inline: auto;
    }

    .triangle-down {
        width: 30px;
        height: 30px;
    }

    .flower3{
        width: 23%;
        top: -13%;
    }

    .flower4{
        width: 32%;
        bottom: -9%;
    }

    .voices{
        width: 90%;
    }

    .voices > .triangle {
        width: 60%;
        height: 80px;
        clip-path: polygon(100% 0, 100% 100%, 0 0%);
    }

    .voices > .triangle-turn {
        width: 60%;
        height: 80px;
        clip-path: polygon(0 0, 100% 100%, 0 100%);
    }

    .voice{
        display: block;
        margin: 40px auto;
    }

    .voice-img1, .voice-img2 {
        width: 50%;
        height: auto;
        transform: rotate(0deg);
        box-shadow: 0px 0px 10px rgb(150 101 117);
    }

    .voice-img-center{
        text-align: center;
    }

    .button{
        font-size: 25px;
    }

    .shop {
        padding-inline: 70px;
    }

    .container2{
        display: block;
    }

    .container3 {
        height: 500px;
        gap: 0px;
    }

    .shop-map iframe {
        width: 500px;
        height: 500px;
    }

    .logo-footer h5 {
        font-size: 16px;
        margin-block: 0px 5px !important;
    }

    .logo-footer img {
        width: 80px;
    }
}

/* スマホ版*/
@media screen and (max-width: 520px){

    h1{
        font-size: 26px;
    }

    h2{
        font-size: 24px;
    }

    h3{
        font-size: 20px;
    }

    h4{
        font-size: 18px;
    }

    h5{
        font-size: 16px;
        letter-spacing: 1px;
    }

    p{
        font-size: 16px;
    }

    .logo h5 {
        font-size: 11px;
        margin-block: 0px 0px;
    }

    .logo img {
        width: 50px;
    }

    .title{
        top: 26%;
        left: 15%;
    }

    .title h1{
        line-height: 13vw;
    }

    .text-center h5 {
        width: auto;
    }

    .feature1_img, .feature2_img, .feature3_img{
        width: 100%;
        height: 250px;
        position: static;
    }

    .flower1{
        width: 37%;
        top: -27%;
        z-index: 3;
    }

    .flower2{
        width: 45%;
        bottom: -27%;
    }

    .feature_contents{
        padding-block-end: 12vh;
    }

    .contents{
    margin-block-start: 15vh;
    }

    .menu_img_contents{
        height: 220vh;
        position: relative;
    }

    .lineup1{
        position: static;
        top: 10%;
        left: 2%;
    }

    .lineup2{
        position: static;
        top: 70%;
        right: 2%;
    }

    .lineup3{
        position: static;
        top: 90%;
        left: 0;
    }

    .img_480{
    width: 100%;
    }

    .img_640{
        width: 100%;
    }

    .contents-name img {
        width: 28px;
        height: 28px;
        padding: 10px 3px 0px 0px;
    }

    .menu{
        padding-block: 35vh;
    }

    .wt_box {
        width: 215px;
        padding: 30px 40px;
    }

    .fee{
        padding: 0;
    }

    .method img {
        width: 100%;
    }

    .how-to {
        width: 100%;
        padding: 0;
    }

    .flower3{
        width: 31%;
        top: -9%;
    }

    .flower4{
        width: 43%;
        bottom: -6%;
    }

    .voices > .triangle {
        width: 95%;
        height: 60px;
        clip-path: polygon(100% 0, 100% 90%, 0 0%);
    }

    .voices > .triangle-turn {
        width: 95%;
        height: 60px;
        clip-path: polygon(-10% 0, 100% 100%, 0 100%);
    }

    .voice-img1, .voice-img2 {
        width: 80%;
        height: auto;
        transform: rotate(0deg);
        box-shadow: 0px 0px 10px rgb(150 101 117);
    }

    .button{
        font-size: 23px;
    }

    .shop {
        padding-inline: 20px;
    }

    .shop-map iframe {
        width: 250px;
        height: 250px;
    }

    .hide{
        display: block;
    }

    .logo-footer h5 {
        font-size: 13px;
        margin-block: 0px 5px !important;
    }

    .logo-footer img {
        width: 70px;
    }
}