body{
    background-image: url(【スクール課題】LPデザイン/23211151-1.png);
    background-color:rgba(231, 231, 235,0.8);
    background-blend-mode:lighten;
    font-family: "さわらび明朝", serif;;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

body *{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 36px;
}

h4{
    font-size: 28px;
}

h5{
    font-size: 24px;
}

p{
    font-size: 20px;
}

.main-font{
    font-family: "Kaisei Opti", serif;
}

.font-wt{
    color: white;
}

.font-rd{
    color: #BA2636;
}

header{
    background-color: #BA2636;
    height: 130px;
    display: grid;
    place-items: center;

}

footer{
    background-color: #BA2636;
    height: 280px;
    display: grid;
    place-items: center;
}

.contents{
    background-color: #F8EDDB;
}

.logo{
    text-align: center;
}

.logo p{
    margin: 20px;
}

.top{
    background-image: url(【スクール課題】LPデザイン/29689492_s.jpg);
    background-size: cover;
    width: 100%;
    height: 800px;
    position: relative;
}

/*縦書き*/
.vertical-top{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

/*縦書き*/
.vertical-feature{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

/*縦書き*/
.vertical{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    height: 350px;
}

.title{
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    position: absolute;
}

.box{
    padding: 30px;
    border: 2px solid #BA2636;
    background:
        linear-gradient(45deg,  #FFFFFF 20px, #FFFFFF 20px),
        linear-gradient(135deg, #BA2636 20px, #FFFFFF 20px),
        linear-gradient(225deg, #FFFFFF 20px, #FFFFFF 20px),
        linear-gradient(315deg, #BA2636 20px, #FFFFFF 20px);
    background-position: bottom left, top left, top right, bottom right;
    background-size: calc(50% + 20px) calc(50% + 20px);
    background-repeat: no-repeat;
}

.text-center{
    text-align: center;
}

.text-center h3{
    margin-top: 30px;
}

.text-center h5{
    width: 725px;
    margin: 20px auto;
}

.button{
    background-color: #BA2636;
    width: fit-content;
    font-size: 28px;
    padding: 15px;
    margin-top: 20px;
    border: none;
    outline : 3px double #FFFFFF;
    outline-offset : -6px;
}


.features{
    background-image: url(【スクール課題】LPデザイン/Group_109-min.png);
    background-size: cover;
    height: 2500px;
    position: relative;
}

.features h3{
    letter-spacing: 0.2em;
    background-color: #FFFFFF;
    padding: 20px;
    outline : 3px double #BA2636;
    outline-offset : -6px;
    position: absolute;
    top: 7%;
    right: 3%;
}

/* 特徴項目の画像 */
.img-cir1, .img-cir2, .img-cir3 {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-size: cover;
    box-shadow: 5px 5px 10px rgb(113, 113, 113);
    position: absolute;
}

.img-cir1 {
    background-image: url(【スクール課題】LPデザイン/1618119_s.jpg);
    background-position: 90% 60%;
    top: 8%;
    right: 16%;
}

.img-cir2 {
    background-image: url(【スクール課題】LPデザイン/3587577_s.jpg);
    background-position: center;
    top: 38%;
    left: 11%;
}

.img-cir3 {
    background-image: url(【スクール課題】LPデザイン/1657286_s.jpg);
    background-position: center;
    top: 68%;
    right: 9%;
}

.feature1{
    top: 17%;
    left: 16%;
    position: absolute;
}

.flower1{
    width: 200px;
    height: 160px;
    top: 26%;
    left: 1%;
    position: absolute;
}

.feature2{
    top: 44%;
    right: 20%;
    position: absolute;
}

.flower2{
    width: 240px;
    height: 200px;
    top: 51%;
    right: 4.5%;
    position: absolute;
}

.feature3{
    top: 75%;
    left: 15%;
    position: absolute;
}

.flower3{
    width: 200px;
    height: 160px;
    top: 87%;
    left: 6.5%;
    position: absolute;
    z-index: 1;
}

.examples{
    height: 800px;
}

.contents-name{
    display: flex;
    justify-content: center;
    padding: 50px 0 10px 0;
}

.contents-name img{
    width: 48px;
    height: 48px;
    padding: 10px 5px 0px 5px;
}

.img-turn{
    transform: scale(-1, 1);
}

.examples h5{
    margin-top: 10px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.item{
    width: 30%;
    margin-top: 60px;
    background-color: #FFFFFF;
    border: 3px solid #BA2636;
}

.item img{
    width: 100%;
    height: auto;
}

.item h4, .item h5{
    margin: 20px;
}

.order{
    height: 1000px;
}

.method{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 90%;
    border: 3px solid #BA2636;
}

.method img{
    width: 30%;
    height: 220px;
}

.how-to{
    display: block;
    background-color: #FFFFFF;
    width: 70%;
    height: 180px;
    padding: 20px;
    position: relative;
}

.how-to h4{
    padding: 15px 0 15px 0;
    text-decoration:underline;
    text-decoration-color: #BA2636;
}

.triangle{
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    height: 50px;
    clip-path: polygon(100% 0,100% 100%,0 0%);
}

.triangle-turn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 50px;
    clip-path: polygon(0% 0,100% 100%,0 100%);
}

.triangle img, .triangle-turn img{
    width: 320px;
    height: 180px;
}

.triangle-down{
    width: 50px;
    height: 50px;
    clip-path: polygon(100% 0,50% 100%,0 0%);
    background-color: #BA2636;
    margin: 0 auto;
}

.request{
    height: 350px;
    position: relative;
}

.requestitem-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding-bottom: 30px;
    width: 100%;
}

.flower4{
    width: 240px;
    height: 200px;
    position: absolute;
    top: 10%;
    left: 0;
    object-position: -55px 0px;
}

.flower5{
    width: 240px;
    height: 200px;
    position: absolute;
    top: 10%;
    right: 0;
    object-position: -55px 0px;
}

.voices{
    height: 1200px;
    background-color: #E4D2D8;
    position: relative;
}

.voices > .triangle{
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 100px;
    clip-path: polygon(100% 0,100% 100%,0 0%);
}

.voices > .triangle-turn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 100px;
    clip-path: polygon(0% 0,100% 100%,0 100%);
}

.voices > .triangle > img, .voices > .triangle-turn > img{
    width: 520px;
    height: 320px;
    position: absolute;
    right: 0;
}

.voices > h5{
    margin-top: 10px;
}

.voice{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    width: 90%;
}

.voice-img1{
    width: 330px;
    height: 200px;
    background-color: #FFFFFF;
    padding: 20px;
    transform: rotate(10deg);
    box-shadow: 3px 3px 10px rgb(113, 113, 113);
}

.voice-contents{
    display: block;
    position: relative;
    background-color: #FFFFFF;
    height: auto;
    padding: 20px;
    border: 3px solid #BA2636;
}

.voice-contents p{
    text-align: right;
}

.voice-img2{
    width: 330px;
    height: 200px;
    background-color: #FFFFFF;
    padding: 20px;
    transform: rotate(-10deg);
    box-shadow: -3px 3px 10px rgb(113, 113, 113);
    z-index: 1;
}

.request2{
    border-bottom: 2px solid #BA2636;
    height: 350px;
    position: relative;
}

.shop{
    height: 900px;
    position: relative;
}

.shop-about{
    width: 460px;
}

.shop-about-title{
    text-align: right;
    width: 150px;
}

.shop-about-contents{
    text-align: left;
    width: 315px;
}

.side-elements{
    display: flex;
    justify-content: center;
}

.space{
    margin-top: -38px;
}

.shop-map iframe{
    width: 550px;
    height: 600px;
    background-color: #BA2636;
    padding: 15px;
}

.shop-access{
    width: 460px;
    height: 150px;
}

.container2{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.container3{
    display: flex;
    flex-direction: column;
    height: 600px;
    gap: 20px;
}

/* モバイル版*/
@media (max-width: 750px){
    body{
        max-width: none;
    }

    h1{
        font-size: 32px;
    }

    h2{
        font-size: 24px;
    }

    h3{
        font-size: 20px;
    }

    h4{
        font-size: 18px;
    }

    h5{
        font-size: 16px;
    }

    p{
        font-size: 16px;
    }

    .top{
        background-image: url(【スクール課題】LPデザイン/29689492_s.jpg);
        background-size: cover;
        width: 100%;
        height: 400px;
        position: relative;
    }

    /*縦書き*/
    .vertical-top{
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        text-orientation: upright;
        height: 200px;
    }

    .title{
        top: 50%;
        left: 20%;
        transform: translate(-20%, -50%);
        position: absolute;
    }

    .box{
        padding: 15px;
        border: 2px solid #BA2636;
        background:
            linear-gradient(45deg,  #FFFFFF 20px, #FFFFFF 20px),
            linear-gradient(135deg, #BA2636 20px, #FFFFFF 20px),
            linear-gradient(225deg, #FFFFFF 20px, #FFFFFF 20px),
            linear-gradient(315deg, #BA2636 20px, #FFFFFF 20px);
        background-position: bottom left, top left, top right, bottom right;
        background-size: calc(50% + 20px) calc(50% + 20px);
        background-repeat: no-repeat;
    }

    .text-center h5{
        width: 330px;
        margin: 20px auto;
    }

    /*縦書き*/
    .vertical-feature{
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }

    /*縦書き*/
    .vertical{
        height: 150px;
        width: 220px;
    }

    .features{
        background-image: url(【スクール課題】LPデザイン/Group_109-min.png);
        background-size: cover;
        height: 2000px;
        position: relative;
    }

    .features h3{
        letter-spacing: 0.2em;
        background-color: #FFFFFF;
        padding: 20px;
        outline : 3px double #BA2636;
        outline-offset : -6px;
        position: absolute;
        top: 6%;
        right: 3%;
    }

    /* 特徴項目の画像 */
    .img-cir1, .img-cir2, .img-cir3 {
        width: 300px;
        height: 250px;
        border-radius: 50%;
        background-size: cover;
        box-shadow: 5px 5px 10px rgb(113, 113, 113);
    }

    .img-cir1 {
        background-image: url(【スクール課題】LPデザイン/1618119_s.jpg);
        top: 15%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .img-cir2 {
        background-image: url(【スクール課題】LPデザイン/3587577_s.jpg);
        top: 42%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .img-cir3 {
        background-image: url(【スクール課題】LPデザイン/1657286_s.jpg);
        top: 69%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .feature1{
        margin: auto;
        top: 28%;
        left: 0;
        right: 0;
    }

    .flower1{
        width: 160px;
        height: 120px;
        top: 36%;
        left: 1%;
        position: absolute;
        transform: rotate(-100deg);
    }

    .feature2{
        margin: auto;
        top: 55%;
        left: 0;
        right: 0;
    }

    .flower2{
        width: 160px;
        height: 120px;
        top: 62%;
        right: 3%;
        position: absolute;
        transform: rotate(75deg);
    }

    .feature3{
        margin: auto;
        top: 82%;
        left: 0;
        right: 0;
    }

    .flower3{
        width: 160px;
        height: 120px;
        top: 88.5%;
        left: -3%;
        position: absolute;
        z-index: 1;
        transform: rotate(-45deg);
    }

    .contents-name img{
        width: 32px;
        height: 32px;
        padding: 5px 5px 0px 5px;
    }

    .examples{
        height: 1500px;
    }

    .container{
        display: block;
    }

    .item{
        width: 320px;
        margin: 30px auto;
        background-color: #FFFFFF;
        border: 3px solid #BA2636;
    }

    .order{
        height: 1720px;
    }

    .method{
        display: block;
        width: 320px;
        border: 3px solid #BA2636;
        background-color: #BA2636;
    }

    .method img{
        width: 320px;
    }

    .how-to{
        display: block;
        background-color: #FFFFFF;
        width: 280px;
        height: 180px;
        padding: 20px;
        position: relative;
    }

    .flower4{
        width: 140px;
        height: 100px;
        top: -1%;
    }

    .flower5{
        width: 140px;
        height: 100px;
        top: -1%;
    }

    .triangle-down{
        width: 30px;
        height: 30px;
    }

    .voices{
        height: 1600px;
    }

    .voices > .triangle{
        width: 300px;
        height: 50px;
    }

    .voices > .triangle-turn{
        width: 300px;
        height: 50px;
    }

    .voice{
        display: flex;
        flex-direction: column-reverse;
        margin: 30px auto;
        width: 320px;
    }

    .reverse{
        display: flex;
        flex-direction: column;
    }

    .voice-img1{
        width: 280px;
        transform: rotate(0deg);
    }

    .voice-contents{
        width: 280px;
        margin-top: 10px;
    }

    .voice-img2{
        width: 280px;
        transform: rotate(0deg);
    }

    .request2{
        height: 300px;
    }

    .shop{
        height: 1050px;
    }

    .shop-about{
        width: 290px;
    }

    .shop-about-title{
        width: 120px;
    }

    .shop-about-contents{
        width: 300px;
    }

    .space{
        margin-top: -27px;
    }

    .shop-map iframe{
        width: 290px;
        height: 280px;
    }

    .shop-access{
        width: 290px;
        height: 120px;
    }

    .container2{
        display: block;
        margin: 30px auto;
        width: 320px;
    }

    .container3{
        height: 520px;
    }
}

/* タブレット版*/
@media (min-width: 750px) and (max-width: 1200px){
    body{
        max-width: none;
    }

    .text-center h5{
        width: 500px;
    }

    /* 特徴項目の画像 */
    .img-cir1, .img-cir2, .img-cir3 {
        width: 350px;
        height: 350px;
    }

    .flower3{
        transform: rotate(-28deg);
    }

    .order{
        height: 1100px;
    }

    .method img{
        height: 260px;
    }

    .how-to{
        height: 220px;
    }

    .flower4{
        width: 220px;
        height: 180px;
        top: 35%;
    }

    .flower5{
        width: 220px;
        height: 180px;
        top: 35%;
    }

    .shop{
        height: 1600px;
    }

    .shop-about{
        margin: 0 auto;
        width: 80%;
    }

    .shop-access{
        margin: 0 auto;
        width: 80%;
    }

    .container2{
        display: block;
        width: 80%;
        margin: 40px auto;
    }

    .container3{
        height: 690px;
    }

    .shop-map{
        margin: 0 auto;
        width: 80%;
    }

    .shop-map iframe{
        width: 93%;
        height: 500px;
    }

}
